# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

# local files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
/.vs/mythology-gallery/v17/DocumentLayout.json
/.vs/mythology-gallery/v17/.wsuo
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/.vs/mythology-gallery/FileContentIndex/
